
<script type="text/javascript">
	function searchFunction()
	{
		var search=document.getElementById('search').value;
		jQuery.ajax({
          	url: "/homes?search="+search+"&type_path=<%= @type_movie %>",
		     	type: "GET",
           	success: function(result){  
                jQuery("#movies_list").html(result); 	
            },
            error: function(){
                  alert('Error occured');
            }
      });
	}
</script>

<div class="row">
  <div class="span2 offset9">
	<table><tr><td>
    <input type="text" class="search-query" placeholder="Search" name="search" id="search"></td><td>    
	<a href="javascript:void(0)" onclick="searchFunction()" class="btn btn-primary">Search</a></td></tr></table>
  </div>
</div>
<div class="row" id="movies_list">
	<%= render :partial => "list" %>
</div>